@model IEnumerable<StoryTime.Web.ViewModels.TemplateStories.TemplateStoryViewModel>
@using System.Linq
@{
    ViewBag.Title = "Template Story home";
}

<h2>Welcome to the Template stories page</h2>

<br />

@Html.DisplayForModel()




